#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

APP_NAME=Açı Eğitim Kurumları
LOGO=aci
REVERSED_CLIENT_ID=com.googleusercontent.apps.309980956561-g71sjrbvb0g48k16soqr9jaj8kp7j8o5
FLUTTER_TARGET=/Users/cagrigoktas/Documents/Flutter/Flutter_Mobile_Uygulamalar/newekol/lib/flavors/main_aci.dart
PRODUCT_BUNDLE_IDENTIFIER=com.elseif.mycollage
FLUTTER_BUILD_NAME=3.1.1
FLUTTER_BUILD_NUMBER=37

