#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

APP_NAME=Smat
LOGO=smat
REVERSED_CLIENT_ID=com.googleusercontent.apps.309980956561-ns47bqpi24k9334cejht9lntbaaic801
FLUTTER_TARGET=/Users/cagrigoktas/Documents/Flutter/Flutter_Mobile_Uygulamalar/newekol/lib/flavors/main_datatacekid.dart
PRODUCT_BUNDLE_IDENTIFIER=com.elseif.datatac.ekid
FLUTTER_BUILD_NAME=3.1.0
FLUTTER_BUILD_NUMBER=17
